.primary-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    min-width: 145px;
    background: linear-gradient(180deg, #032E15 0%, #016630 100%);
    border-radius: 505.644px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    color: #FFFFFF;
    text-decoration: unset;
    transition: all 0.3s ease;

    &:hover {
        // background: linear-gradient(180deg, #04411F 0%, #018A44 100%);
        background: linear-gradient(180deg, #032E15 10%, #016630 100%);

        transform: translateY(-3px);
        box-shadow: 0 6px 20px rgba(0, 128, 64, 0.3);
        transition: all 0.3s ease;
    }
}