#Collection {
  padding: 0 0 97px;

  @media (max-width: 1199.98px) {
    padding: 0 0 70px;

  }

  @media (max-width: 767.98px) {
    padding: 0 0 40px;
  }

  .collection-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 575.98px) {
      flex-direction: column;
      gap: 20px;
    }

    .content-wrap {
      width: 626px;

      // display: inline-block;
      // vertical-align: middle;
      @media (min-width: 1200px) and (max-width: 1329.98px) {
        width: calc(100% / 2 - 50px);
      }



      @media (min-width: 992px) and (max-width: 1199.98px) {
        width: calc(50% - 20px);
      }

      @media (max-width: 575.98px) {
        width: 100%;
      }

      @media (min-width: 576px) and (max-width: 991.98px) {
        width: calc(50% - 10px);
      }



      h2 {
        padding: 0 0 33px;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        color: #032E15;
        margin: 0 0 0;

        @media (max-width: 767.98px) {
          font-size: 32px;
          line-height: 1.3;
        }
      }

    }

    .images-wrap {
      width: 590px;

      @media (min-width: 1200px) and (max-width: 1329.98px) {
        width: calc(100% / 2 - 50px);
      }


      @media (min-width: 992px) and (max-width: 1199.98px) {
        width: calc(50% - 20px);
        height: 600px;

      }

      @media (min-width: 768px) and (max-width: 991.98px) {
        height: 550px;
      }

      @media (min-width: 576px) and (max-width: 991.98px) {
        width: calc(50% - 10px);
      }

      @media (min-width: 1200px) {
        height: 710px;
      }
      
      @media (max-width: 575.98px) {
        width: 100%;
      }


      img {
        width: 100%;
        height: auto;

        border-radius: 14.158px;

        @media (min-width: 768px) and (max-width: 991.98px) {
          height: 550px;
          object-fit: cover;
          object-position: center;
        }

        @media (min-width: 992px) and (max-width: 1199.98px) {
          height: 600px;
          object-fit: cover;
          object-position: center;
        }

        @media (min-width: 1200px) {
          height: 710px;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}

#Accordian {
  .each-accordion {
    border: 1px solid #CDCDCD;
    border-radius: 8px;
    margin: 0 0 15px;

    &:last-child {
      margin: 0;
    }

    .acc-title {
      padding: 24px 32px;
      position: relative;
      cursor: pointer;

      @media (max-width: 767.98px) {
        padding: 20px;
      }

      h4 {
        margin: 0;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #032E15;
      }

      &.active {
        &::before {
          opacity: 0;
          transition: 0.3s all;

        }
      }

      &::after {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        background: url('/gtg-project/assets/minus-icon.svg');
        right: 32px;
        top: 50%;
        transform: translateY(-50%);
      }

      &::before {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        background: url('/gtg-project/assets/minus-icon.svg');
        right: 32px;
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
        opacity: 1;
        transition: 0.3s all;
      }
    }

    .acc-desciption {
      display: none;
      padding: 24px;

      @media (max-width: 767.98px) {
        padding: 20px;
      }

      p {
        margin: 0;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        color: #666666;
      }
    }
  }
}