@import 'button'; 
@import 'header';
@import 'banner';
@import 'product-carousel';
@import 'collection';
@import 'gradient-bg';
@import 'table';
@import 'footer';
// @import 'tabs';
// @import 'tabs';
// @import 'tabs';
// @import 'tabs';
// @import 'tabs';
// @import 'tabs';
